@model List<SchoolManagementSystem.Models.GroupSubjectViewModel>
@{
    ViewBag.Title = "AddWeightage";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script>
    $(document).ready(function () {
        $('#Button').click(function () {
            var total = 0.0;
            $('.weight-cal').each(function (i) {
                if (!isNaN(parseInt($(this).val()))) {
                    total += parseInt($(this).val());
                }
            });
            if (total != 100.0) {
                alert("Weight of all the subjects must be equal to 100");
                return false;
            }
            else {
                $('#weightForm').submit();
            }
        });
        $('.weight-cal').blur(calculateWeight);

        function calculateWeight() {
            var total = 0.0;
            $('.weight-cal').each(function (i) {
                if (!isNaN(parseInt($(this).val()))) {
                    total += parseInt($(this).val());
                }
            });
            $('#total').text('Weight Allocated: ' + total);

        }
        $('.removeObject').click(function () {
            var id = $(this).parents('.subject-number');
            $(id).remove();
            calculateWeight();
        });

    });
</script>

<div>
    <h2>Create New Report Card</h2>
</div>
<div class="box">
    <div class="box-title">
        <h3>Grade Information</h3>
    </div>
    <div class="box-content">
        <div class="row-fluid">
            <div class="span6">
                <div class="control-group">
                    <label for="grad">Grade</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" readonly name="Grade" id="Grade" value="@Session["EGrade"]" />
                    </div>
                </div>
            </div>
            <div class="span6">
                <div class="control-group">
                    <label for="grad">Quarter</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" readonly name="Quarter" id="Quarter" value="@Session["EQuarter"]" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="box">
    <div class="box-title">
        <h3>Subject Groups</h3>
    </div>
    <div class="box-content">

        <form id="weightForm" method="post" action="#">
            <div class="row">
                <div class="col-md-4">
                    <label>Name</label>
                    <div class="controls">
                        <input type="text" required name="GroupName" id="GroupName" value="@Model[0].GroupName"/>
                        <input type="hidden" id="GroupId" value="@Model[0].GroupId" />
                    </div>
                </div>
                <div class="col-md-3">
                    <label id="total">Weight Allocated: 0.0</label>
                </div>
            </div>
            <div>

                @{
                    for (int i = 0; i < Model.Count; i++)
                    {
                        <div class="row subject-number" id="obj_@Model[i].subjects.Id">
                            <div class="col-md-3">
                                <label>Subject </label>
                                <div class="controls">
                                    <input type="text" value="@Model[i].subjects.SubjectName" name="[@i].Name" readonly />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label>Weight </label>
                                <div class="controls">
                                    <input type="text" class="weight-cal" value="@Model[i].subjects.Weight" name="[@i].Weight" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label></label>
                                <label class="i-checks">
                                    @{
                                        if(Model[i].subjects.Status==1)
                                        {
                                            <input type="checkbox" name="[@i].isChecked" checked/>
                                        }
                                        else
                                        {
                                            <input type="checkbox"  name="[@i].isChecked" />
                                        }
                                    }
                                    Add Exam
                                </label>
                            </div>
                            <input type="hidden" value="@Model[i].subjects.Id" name="[@i].Id" id="Ids" />

                            <div class="col-md-1">
                                <div class="controls">
                                    <a class="btn btn-danger glyphicon glyphicon glyphicon-trash removeObject" id="' + count + '"></a>
                                </div>
                            </div>

                        </div>
                    }
                }

            </div>
            <div class="row">
                <div class="col-md-3 pull-right">
                    <label></label>
                    <button id="Button" class="btn btn-success">Group Subjects</button>
                </div>
            </div>
        </form>

    </div>

</div>



