@model SchoolManagementSystem.Models.Employee

@{
    ViewBag.Title = "EditEmployee";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<script>
    $(document).ready(function () {
        $("#dateOfBirth").datepicker({
            flat: true,
            date: '2008-07-31',
            current: '2008-07-31',
            calendars: 1,
            starts: 1
        });

    });
    $(document).ready(function () {
        $("#dateOfJoining").datepicker({
            flat: true,
            date: '2008-07-31',
            current: '2008-07-31',
            calendars: 1,
            starts: 1
        });

    });


</script>

<!-- BEGIN Page Title -->
<div class="page-title">
    <div>
        <h1><i class="icon-file-alt"></i>Add Employee</h1>

    </div>
</div>
<!-- END Page Title -->
<!-- BEGIN Breadcrumb -->
<!-- END Breadcrumb -->
<!-- BEGIN Main Content -->


<div class="row-fluid">
    <div class="span12">
        <div class="box box-blue">
            <div class="box-title">
                <h3><i class="icon-reorder"></i> Admission Form</h3>
                <div class="box-tool">
                    <a data-action="collapse" href="#"><i class="icon-chevron-up"></i></a>
                    <a data-action="close" href="#"><i class="icon-remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                <form action="/Admin/EditEmployee" class="form-horizontal" method="post">
                    <input type="hidden" value=@(Model.Password) name="Password" />
                    <input type="hidden" value=@(Model.Id) name="Id" />
                    <div class="form-wizard" id="form-wizard-2">
                        <ul class="row-fluid steps steps-fill">
                            <li class="span3">
                                <a href="#tab2-1" data-toggle="tab" class="step active">
                                    <span class="number">1</span>
                                    <span class="desc"><i class="icon-ok"></i> General Detail</span>
                                </a>
                            </li>
                            <li class="span3">
                                <a href="#tab2-2" data-toggle="tab" class="step">
                                    <span class="number">2</span>
                                    <span class="desc"><i class="icon-ok"></i> Personal Detail</span>
                                </a>
                            </li>
                            <li class="span3">
                                <a href="#tab2-3" data-toggle="tab" class="step">
                                    <span class="number">3</span>
                                    <span class="desc"><i class="icon-ok"></i> Contact Information</span>
                                </a>
                            </li>
                        </ul>
                        <div class="progress progress-primary progress-striped">
                            <div class="bar"></div>
                        </div>

                        <div class="tab-content">
                            <div class="tab-pane active" id="tab2-1">

                                <div class="control-group">
                                    <label for="id" class="control-label">Employee Number</label>
                                    <div class="controls">
                                        <input type="text" name="Id" id="id" class="input-xlarge" readonly value="@Model.Id ">
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label for="fullName" class="control-label">Full Name</label>
                                    <div class="controls">
                                        <input type="text" name="FullName" id="fullName" class="input-xlarge" value="@Model.FullName">
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label for="dateOfJoining" class="control-label">Date of Joining</label>
                                    <div class="controls">
                                        <input type="text" name="DateOfJoining" id="dateOfJoining" class="input-xlarge datepicker" value="@Model.DateOfJoining">
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label for="dateOfBirth" class="control-label">Date of Birth</label>
                                    <div class="controls">
                                        <input type="text" name="DateOfBirth" id="dateOfBirth" class="input-xlarge" value="@Model.DateOfBirth">
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label for="gender" class="control-label">Gender</label>
                                    <div class="controls">
                                        <select class="input-xlarge" name="Gender" id="gender">
                                            <option value="Male">MALE</option>
                                            <option value="Female">FEMALE</option>
                                        </select>
                                    </div>
                                </div>

                                <script>
                                    $('#gender').children('Option[value = Male]').attr('selected', 'selected');

                                </script>
                                <div class="control-group">
                                    <label for="religion" class="control-label">Religion</label>
                                    <div class="controls">
                                        <select name="Religion" id="religion" class="input-xlarge">
                                            <option value="Islam">Islam</option>
                                            <option value="Chritianity">Chritianity</option>
                                            <option value="Budhism">Budhism</option>
                                            <option value="Hinduism">Hinduism</option>
                                            <option value="Jew">Jew</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label for="qualification" class="control-label">Qualification</label>
                                    <div class="controls">
                                        <input type="text" name="Qulification" id="qualification" class="input-xlarge" value="@Model.Qulification">
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label for="category" class="control-label">Category</label>
                                    <div class="controls">
                                        <select class="input-xlarge" name="Type" id="category">
                                            <option value="Academic">Academic</option>
                                            <option value="Purchasing, Quality control & Transportation">Purchasing, Quality control &amp; Transportation</option>
                                            <option value="FInance">FInance</option>
                                            <option value="Management">Management</option>
                                            <option value="School Support Personel">School Support Personel</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label for="department" class="control-label">Department</label>
                                    <div class="controls">
                                        <input type="text" id="department" class="input-xlarge" value="Add Department filed in db">
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label for="totalExperienceYears" class="control-label">Total Experience Years</label>
                                    <div class="controls">
                                        <input type="number" name="TotalExperienceYears" id="totalExperienceYears" class="input-xlarge" value="@Model.TotalExperienceYears">
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label for="totalExperienceMonths" class="control-label">Total Experience Months</label>
                                    <div class="controls">
                                        <input type="number" name="TotalExperienceMonths" id="totalExperienceMonths" class="input-xlarge" value="@Model.TotalExperienceMonths">
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="tab2-2">
                                <div class="control-group">
                                    <label for="passportNumber" class="control-label">Passport Number</label>
                                    <div class="controls">
                                        <input type="text" name="PassportNumber" id="passportNumber" class="input-xlarge" value="@Model.PassportNumber">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label for="passportExpiry" class="control-label">Passport Expiry</label>
                                    <div class="controls">
                                        <input type="text" name="PassportExpiry" id="passportExpiry" class="input-xlarge" value="@Model.PassportExpiry">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label for="city" class="control-label">City</label>
                                    <div class="controls">
                                        <input type="text" name="City" id="city" class="input-xlarge" value="@Model.City">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label for="nationality" class="control-label">Nationality</label>
                                    <div class="controls">
                                        <select class="input-xlarge" name="Nationality" id="nationality">
                                            <option value="AF">Afghanistan</option>
                                            <option value="AX">Åland Islands</option>
                                            <option value="AL">Albania</option>
                                            <option value="DZ">Algeria</option>
                                            <option value="AS">American Samoa</option>
                                            <option value="AD">Andorra</option>
                                            <option value="AO">Angola</option>
                                            <option value="AI">Anguilla</option>
                                            <option value="AQ">Antarctica</option>
                                            <option value="AG">Antigua and Barbuda</option>
                                            <option value="AR">Argentina</option>
                                            <option value="AM">Armenia</option>
                                            <option value="AW">Aruba</option>
                                            <option value="AU">Australia</option>
                                            <option value="AT">Austria</option>
                                            <option value="AZ">Azerbaijan</option>
                                            <option value="BS">Bahamas</option>
                                            <option value="BH">Bahrain</option>
                                            <option value="BD">Bangladesh</option>
                                            <option value="BB">Barbados</option>
                                            <option value="BY">Belarus</option>
                                            <option value="BE">Belgium</option>
                                            <option value="BZ">Belize</option>
                                            <option value="BJ">Benin</option>
                                            <option value="BM">Bermuda</option>
                                            <option value="BT">Bhutan</option>
                                            <option value="BO">Bolivia, Plurinational State of</option>
                                            <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                                            <option value="BA">Bosnia and Herzegovina</option>
                                            <option value="BW">Botswana</option>
                                            <option value="BV">Bouvet Island</option>
                                            <option value="BR">Brazil</option>
                                            <option value="IO">British Indian Ocean Territory</option>
                                            <option value="BN">Brunei Darussalam</option>
                                            <option value="BG">Bulgaria</option>
                                            <option value="BF">Burkina Faso</option>
                                            <option value="BI">Burundi</option>
                                            <option value="KH">Cambodia</option>
                                            <option value="CM">Cameroon</option>
                                            <option value="CA">Canada</option>
                                            <option value="CV">Cape Verde</option>
                                            <option value="KY">Cayman Islands</option>
                                            <option value="CF">Central African Republic</option>
                                            <option value="TD">Chad</option>
                                            <option value="CL">Chile</option>
                                            <option value="CN">China</option>
                                            <option value="CX">Christmas Island</option>
                                            <option value="CC">Cocos (Keeling) Islands</option>
                                            <option value="CO">Colombia</option>
                                            <option value="KM">Comoros</option>
                                            <option value="CG">Congo</option>
                                            <option value="CD">Congo, The Democratic Republic of the</option>
                                            <option value="CK">Cook Islands</option>
                                            <option value="CR">Costa Rica</option>
                                            <option value="CI">Côte d'Ivoire</option>
                                            <option value="HR">Croatia</option>
                                            <option value="CU">Cuba</option>
                                            <option value="CW">Curaçao</option>
                                            <option value="CY">Cyprus</option>
                                            <option value="CZ">Czech Republic</option>
                                            <option value="DK">Denmark</option>
                                            <option value="DJ">Djibouti</option>
                                            <option value="DM">Dominica</option>
                                            <option value="DO">Dominican Republic</option>
                                            <option value="EC">Ecuador</option>
                                            <option value="EG">Egypt</option>
                                            <option value="SV">El Salvador</option>
                                            <option value="GQ">Equatorial Guinea</option>
                                            <option value="ER">Eritrea</option>
                                            <option value="EE">Estonia</option>
                                            <option value="ET">Ethiopia</option>
                                            <option value="FK">Falkland Islands (Malvinas)</option>
                                            <option value="FO">Faroe Islands</option>
                                            <option value="FJ">Fiji</option>
                                            <option value="FI">Finland</option>
                                            <option value="FR">France</option>
                                            <option value="GF">French Guiana</option>
                                            <option value="PF">French Polynesia</option>
                                            <option value="TF">French Southern Territories</option>
                                            <option value="GA">Gabon</option>
                                            <option value="GM">Gambia</option>
                                            <option value="GE">Georgia</option>
                                            <option value="DE">Germany</option>
                                            <option value="GH">Ghana</option>
                                            <option value="GI">Gibraltar</option>
                                            <option value="GR">Greece</option>
                                            <option value="GL">Greenland</option>
                                            <option value="GD">Grenada</option>
                                            <option value="GP">Guadeloupe</option>
                                            <option value="GU">Guam</option>
                                            <option value="GT">Guatemala</option>
                                            <option value="GG">Guernsey</option>
                                            <option value="GN">Guinea</option>
                                            <option value="GW">Guinea-Bissau</option>
                                            <option value="GY">Guyana</option>
                                            <option value="HT">Haiti</option>
                                            <option value="HM">Heard Island and McDonald Islands</option>
                                            <option value="VA">Holy See (Vatican City State)</option>
                                            <option value="HN">Honduras</option>
                                            <option value="HK">Hong Kong</option>
                                            <option value="HU">Hungary</option>
                                            <option value="IS">Iceland</option>
                                            <option value="IN">India</option>
                                            <option value="ID">Indonesia</option>
                                            <option value="IR">Iran, Islamic Republic of</option>
                                            <option value="IQ">Iraq</option>
                                            <option value="IE">Ireland</option>
                                            <option value="IM">Isle of Man</option>
                                            <option value="IL">Israel</option>
                                            <option value="IT">Italy</option>
                                            <option value="JM">Jamaica</option>
                                            <option value="JP">Japan</option>
                                            <option value="JE">Jersey</option>
                                            <option value="JO">Jordan</option>
                                            <option value="KZ">Kazakhstan</option>
                                            <option value="KE">Kenya</option>
                                            <option value="KI">Kiribati</option>
                                            <option value="KP">Korea, Democratic People's Republic of</option>
                                            <option value="KR">Korea, Republic of</option>
                                            <option value="KW">Kuwait</option>
                                            <option value="KG">Kyrgyzstan</option>
                                            <option value="LA">Lao People's Democratic Republic</option>
                                            <option value="LV">Latvia</option>
                                            <option value="LB">Lebanon</option>
                                            <option value="LS">Lesotho</option>
                                            <option value="LR">Liberia</option>
                                            <option value="LY">Libya</option>
                                            <option value="LI">Liechtenstein</option>
                                            <option value="LT">Lithuania</option>
                                            <option value="LU">Luxembourg</option>
                                            <option value="MO">Macao</option>
                                            <option value="MK">Macedonia, Republic of</option>
                                            <option value="MG">Madagascar</option>
                                            <option value="MW">Malawi</option>
                                            <option value="MY">Malaysia</option>
                                            <option value="MV">Maldives</option>
                                            <option value="ML">Mali</option>
                                            <option value="MT">Malta</option>
                                            <option value="MH">Marshall Islands</option>
                                            <option value="MQ">Martinique</option>
                                            <option value="MR">Mauritania</option>
                                            <option value="MU">Mauritius</option>
                                            <option value="YT">Mayotte</option>
                                            <option value="MX">Mexico</option>
                                            <option value="FM">Micronesia, Federated States of</option>
                                            <option value="MD">Moldova, Republic of</option>
                                            <option value="MC">Monaco</option>
                                            <option value="MN">Mongolia</option>
                                            <option value="ME">Montenegro</option>
                                            <option value="MS">Montserrat</option>
                                            <option value="MA">Morocco</option>
                                            <option value="MZ">Mozambique</option>
                                            <option value="MM">Myanmar</option>
                                            <option value="NA">Namibia</option>
                                            <option value="NR">Nauru</option>
                                            <option value="NP">Nepal</option>
                                            <option value="AN">Netherlands Antilles</option>
                                            <option value="NL">Netherlands</option>
                                            <option value="NC">New Caledonia</option>
                                            <option value="NZ">New Zealand</option>
                                            <option value="NI">Nicaragua</option>
                                            <option value="NE">Niger</option>
                                            <option value="NG">Nigeria</option>
                                            <option value="NU">Niue</option>
                                            <option value="NF">Norfolk Island</option>
                                            <option value="MP">Northern Mariana Islands</option>
                                            <option value="NO">Norway</option>
                                            <option value="OM">Oman</option>
                                            <option value="PK">Pakistan</option>
                                            <option value="PW">Palau</option>
                                            <option value="PS">Palestine, State of</option>
                                            <option value="PA">Panama</option>
                                            <option value="PG">Papua New Guinea</option>
                                            <option value="PY">Paraguay</option>
                                            <option value="PE">Peru</option>
                                            <option value="PH">Philippines</option>
                                            <option value="PN">Pitcairn</option>
                                            <option value="PL">Poland</option>
                                            <option value="PT">Portugal</option>
                                            <option value="PR">Puerto Rico</option>
                                            <option value="QA">Qatar</option>
                                            <option value="RE">Réunion</option>
                                            <option value="RO">Romania</option>
                                            <option value="RU">Russian Federation</option>
                                            <option value="RW">Rwanda</option>
                                            <option value="BL">Saint Barthélemy</option>
                                            <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
                                            <option value="KN">Saint Kitts and Nevis</option>
                                            <option value="LC">Saint Lucia</option>
                                            <option value="MF">Saint Martin (French part)</option>
                                            <option value="PM">Saint Pierre and Miquelon</option>
                                            <option value="VC">Saint Vincent and the Grenadines</option>
                                            <option value="WS">Samoa</option>
                                            <option value="SM">San Marino</option>
                                            <option value="ST">Sao Tome and Principe</option>
                                            <option selected="selected" value="SA">Saudi Arabia</option>
                                            <option value="SN">Senegal</option>
                                            <option value="RS">Serbia</option>
                                            <option value="SC">Seychelles</option>
                                            <option value="SL">Sierra Leone</option>
                                            <option value="SG">Singapore</option>
                                            <option value="SX">Sint Maarten (Dutch part)</option>
                                            <option value="SK">Slovakia</option>
                                            <option value="SI">Slovenia</option>
                                            <option value="SB">Solomon Islands</option>
                                            <option value="SO">Somalia</option>
                                            <option value="ZA">South Africa</option>
                                            <option value="GS">South Georgia and the South Sandwich Islands</option>
                                            <option value="SS">South Sudan</option>
                                            <option value="ES">Spain</option>
                                            <option value="LK">Sri Lanka</option>
                                            <option value="SD">Sudan</option>
                                            <option value="SR">Suriname</option>
                                            <option value="SJ">Svalbard and Jan Mayen</option>
                                            <option value="SZ">Swaziland</option>
                                            <option value="SE">Sweden</option>
                                            <option value="CH">Switzerland</option>
                                            <option value="SY">Syrian Arab Republic</option>
                                            <option value="TW">Taiwan</option>
                                            <option value="TJ">Tajikistan</option>
                                            <option value="TZ">Tanzania, United Republic of</option>
                                            <option value="TH">Thailand</option>
                                            <option value="TL">Timor-Leste</option>
                                            <option value="TG">Togo</option>
                                            <option value="TK">Tokelau</option>
                                            <option value="TO">Tonga</option>
                                            <option value="TT">Trinidad and Tobago</option>
                                            <option value="TN">Tunisia</option>
                                            <option value="TR">Turkey</option>
                                            <option value="TM">Turkmenistan</option>
                                            <option value="TC">Turks and Caicos Islands</option>
                                            <option value="TV">Tuvalu</option>
                                            <option value="UG">Uganda</option>
                                            <option value="UA">Ukraine</option>
                                            <option value="AE">United Arab Emirates</option>
                                            <option value="GB">United Kingdom</option>
                                            <option value="UM">United States Minor Outlying Islands</option>
                                            <option value="US">United States</option>
                                            <option value="UY">Uruguay</option>
                                            <option value="UZ">Uzbekistan</option>
                                            <option value="VU">Vanuatu</option>
                                            <option value="VE">Venezuela, Bolivarian Republic of</option>
                                            <option value="VN">Viet Nam</option>
                                            <option value="VG">Virgin Islands, British</option>
                                            <option value="VI">Virgin Islands, U.S.</option>
                                            <option value="WF">Wallis and Futuna</option>
                                            <option value="EH">Western Sahara</option>
                                            <option value="YE">Yemen</option>
                                            <option value="ZM">Zambia</option>
                                            <option value="ZW">Zimbabwe</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label for="iqamaNo" class="control-label">Id/Iqama #</label>
                                    <div class="controls">
                                        <input type="text" name="IqamaNo" id="iqamaNo" class="input-xlarge" value="@Model.IqamaNo">
                                    </div>
                                </div>


                                <div class="control-group">
                                    <label for="iqamaExpiry" class="control-label">Id/Iqama # Expiry</label>
                                    <div class="controls">
                                        <input type="text" name="IqamaExpiry" id="iqamaExpiry" class="input-xlarge" value="@Model.IqamaExpiry">
                                    </div>
                                </div>
                            </div>


                            <div class="tab-pane" id="tab2-3">
                                <div class="control-group">
                                    <label for="address1" class="control-label">Address 1</label>
                                    <div class="controls">
                                        <input type="text" name="Address1" id="address1" class="input-xlarge" value="@Model.Address1">
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label for="address2" class="control-label">Address 2</label>
                                    <div class="controls">
                                        <input type="text" name="Address2" id="address2" class="input-xlarge" value="@Model.Address2">
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label for="city" class="control-label">City</label>
                                    <div class="controls">
                                        <input type="text" name="City" id="city" class="input-xlarge" value="@Model.City">
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label for="country" class="control-label">Country</label>
                                    <div class="controls">
                                        <input type="text" name="Country" id="country" class="input-xlarge" value="@Model.Country">
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label for="homephone" class="control-label">Home Phone</label>
                                    <div class="controls">
                                        <input type="text" name="HomePhone" id="homephone" class="input-xlarge" value="@Model.HomePhone">
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label for="homephone" class="control-label">Mobile Number</label>
                                    <div class="controls">
                                        <input type="text" name="MobileNumber" id="mobileNumber" class="input-xlarge" value="@Model.MobileNumber">
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label for="email" class="control-label">Email</label>
                                    <div class="controls">
                                        <input type="text" name="Email" id="email" class="input-xlarge" value="@Model.Email">
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="form-actions clearfix">
                            <a href="javascript:;" class="btn button-previous">
                                Back
                            </a>
                            <a href="javascript:;" class="btn btn-primary button-next">
                                <center> Continue  </center>
                            </a>
                            <input type="submit" class="btn btn-success button-submit" value="Submit" />
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- END Main Content -->
