@model List<SchoolManagementSystem.Models.ListInventoryItemsViewModel>
@{
    ViewBag.Title = "ListAllInventoryItems";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section Scripts{
    <link href="~/Content/assets/data-tables/DT_bootstrap.css" rel="stylesheet" />
    <script src="~/Content/assets/data-tables/jquery.dataTables.js"></script>
    <script src="~/Content/assets/data-tables/DT_bootstrap.js"></script>

    <script src="~/Scripts/jQuery.print.js"></script>
    <script src="~/Scripts/Custom/PrintExample.js"></script>
}
@section PageTitle{
    <div class="page-title">
        <h1>Inventory Items</h1>
    </div>
}
<div class="box">
    <div class="box-title">
        <h3>List of Inventory Items</h3>
    </div>
    <div class="box-content">
        <table class="table table-advance" id="table1">
            <thead class="table-head">
                <tr>
                    <th>Item Name</th>
                    <th>Grade Name</th>
                    <th>Category Name</th>
                    <th>Purchased Price</th>
                    <th>Sale Price</th>
                    <th>Quantity</th>

                    <th class="actions">Actions</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td>@(Model[i].ItemName)</td>
                        <td>@Model[i].GradeName</td>
                        <td>@(Model[i].ItemCategoryName + " " + Model[i].UniformSize)</td>
                        <td>@Model[i].PurchasedPrice</td>
                        <td>@Model[i].SalePrice</td>
                        <td>@Model[i].Quantity</td>

                        <td class="actions">
                            @if (Model[i].CanOrder)
                            {
                                <a class="btn btn-info" href=@("/Admin/OrderInventoryItem/" + Model[i].Id)>Order Package</a>
                            }
                            else
                            {
                                <a class="btn btn-info disabled" href=@("/Admin/OrderInventoryItem/" + Model[i].Id)>Order Item</a>

                            }
                            <a class="btn btn-info  glyphicon glyphicon glyphicon-pencil bcc" href=@("/Admin/EditInventoryItem/"+Model[i].Id)></a>
                            <a data-confirm="Are you sure?" class="btn btn-danger glyphicon glyphicon glyphicon-trash" rel="nofollow" data-method="delete" href=@("/Admin/DeleteInventoryItem/" + Model[i].Id)></a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>
