@model List<SchoolManagementSystem.Models.ListAllBusesViewModel>
@{
    ViewBag.Title = "ListAllBuses";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section Scripts{
    <link href="~/Content/assets/data-tables/DT_bootstrap.css" rel="stylesheet" />
    <script src="~/Content/assets/data-tables/jquery.dataTables.js"></script>
    <script src="~/Content/assets/data-tables/DT_bootstrap.js"></script>

    <script src="~/Scripts/jQuery.print.js"></script>
    <script src="~/Scripts/Custom/PrintExample.js"></script>
}
@section PageTitle{
    <div class="page-title">
        <h1>List All </h1>
    </div>
}
<div class="box">
    <div class="box-title">
        <h3>Buses</h3>
    </div>
    <div class="box-content">
        <table class="table table-advance" id="table1">
            <thead class="table-head">
                <tr>
                    <th>Bus Name</th>
                    <th>Driver name</th>
                    <th>Coductor Name</th>
                    <th>Grade Name</th>
                    <th>Route Name</th>
                    <th>Current Number Of Student</th>
                    <th>Max No Of Students</th>

                    <th class="actions">Actions</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td>@Model[i].Name</td>
                        <td>@Model[i].DriverName</td>
                        <td>@Model[i].ConductorName</td>
                        <td>@Model[i].GradeName</td>
                        <td>@Model[i].RouteName</td>
                        <td>@Model[i].MaxStudent</td>
                        <td>@Model[i].CurrentNoOfStudents</td>

                        <td class="actions">
                            <a class="btn btn-info  glyphicon glyphicon glyphicon-pencil bcc" href=@("/Admin/EditBus/"+Model[i].Id)></a>
                            <a data-confirm="Are you sure?" class="btn btn-danger glyphicon glyphicon glyphicon-trash" rel="nofollow" data-method="delete" href=@("/Admin/DeleteBus/" + Model[i].Id)></a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>
