@{
    ViewBag.Title = "ShowAllAccecptedLeaveRequests";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model List<SchoolManagementSystem.Models.EmployeesLeavesViewModel>

@section Scripts{
    <link href="~/Content/assets/data-tables/DT_bootstrap.css" rel="stylesheet" />
    <script src="~/Content/assets/data-tables/jquery.dataTables.js"></script>
    <script src="~/Content/assets/data-tables/DT_bootstrap.js"></script>

    <script src="~/Scripts/jQuery.print.js"></script>
    <script src="~/Scripts/Custom/PrintExample.js"></script>
}

@section PageTitle{
<div class="page-title">
    <div>
        <h1><i class="fa fa-list"></i> Employee Leaves Requests </h1>
    </div>
</div>
    }
<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-content">
                <div class="btn-toolbar pull-right clearfix">
                    <div class="btn-group">
                        <a class="btn btn-circle show-tooltip" title="Add new record" href="AddNewStudent"><i class="fa fa-plus"></i></a>
                        <a class="btn btn-circle show-tooltip" title="Edit selected" href="javascript:void(0)"><i class="fa fa-edit"></i></a>
                        <a class="btn btn-circle show-tooltip" title="Delete selected" href="javascript:void(0)"><i class="fa fa-remove"></i></a>
                    </div>
                    <div class="btn-group">
                        <a id="print" class="btn btn-circle show-tooltip" title="Print" href="javascript:void(0)"><i class="fa fa-print"></i></a>
                        <a class="btn btn-circle show-tooltip" title="Export to PDF" href="javascript:void(0)"><i class="fa fa-file-pdf-o"></i></a>
                        <a class="btn btn-circle show-tooltip" title="Export to Exel" href="javascript:void(0)"><i class="fa fa-file-excel-o"></i></a>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-circle show-tooltip" title="Refresh" href="javascript:void(0)"><i class="fa fa-refresh"></i></a>
                    </div>
                </div>
                <div class="clearfix" ></div>
                <table class="table table-advance" id="table1" >
                    <thead class="table-head">
                        <tr>
                            <th>Emp Id</th>
                            <th>Employee Name</th>
                            <th>Reason</th>
                            <th>Disciption</th>
                            <th>Leave From</th>
                            <th>Leave to</th>
                            <th class="actions">Actions</th>
                        </tr>

                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.EmployeeId</td>
                                <td>@item.EmployeeName</td>
                                <td>@item.LeaveReason</td>
                                <td>@item.Discription</td>
                                <td>@item.LeaveStart</td>
                                <td>@item.LeaveEnd</td>
                                <td class="actions">

                                    <div class=""> @item.StatusDiscription</div>
                                    <div class=""> <span style="background:green; border-radius: 50%; color:white; padding:1%"><i class="glyphicon glyphicon-ok"></i></span></div>


                                </td>
                            </tr>
                        }

                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>
