@model List<SchoolManagementSystem.Models.GradeClassBatchViewModel>
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section Scripts{
    <link href="~/Content/assets/data-tables/DT_bootstrap.css" rel="stylesheet" />
    <script src="~/Content/assets/data-tables/jquery.dataTables.js"></script>
    <script src="~/Content/assets/data-tables/DT_bootstrap.js"></script>

    <script src="~/Scripts/jQuery.print.js"></script>
    <script src="~/Scripts/Custom/PrintExample.js"></script>
}

@section PageTitle{
<div class="page-title">
    <div>
        <h1>All Classes in Grade @ViewBag.GradeName </h1>
    </div>
</div>
    }
<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-content">
                <div class="btn-toolbar pull-right clearfix">
                    <div class="btn-group">
                        <a class="btn btn-circle show-tooltip" title="Add new record" href="AddGrade"><i class="fa fa-plus"></i></a>
                        <a class="btn btn-circle show-tooltip" title="Edit selected" href="javascript:void(0)"><i class="fa fa-edit"></i></a>
                        <a class="btn btn-circle show-tooltip" title="Delete selected" href="javascript:void(0)"><i class="fa fa-remove"></i></a>
                    </div>
                    <div class="btn-group">
                        <a id="print" class="btn btn-circle show-tooltip" title="Print" href="javascript:void(0)"><i class="fa fa-print"></i></a>
                        <a class="btn btn-circle show-tooltip" title="Export to PDF" href="javascript:void(0)"><i class="fa fa-file-pdf-o"></i></a>
                        <a class="btn btn-circle show-tooltip" title="Export to Exel" href="javascript:void(0)"><i class="fa fa-file-excel-o"></i></a>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-circle show-tooltip" title="Refresh" href="javascript:void(0)"><i class="fa fa-refresh"></i></a>
                    </div>
                </div>
                <div class="clearfix" ></div>
                <table class="table table-advance" id="table1" >
                    <thead class="table-head">
                        <tr>
                            <th>Grade Name</th>
                            <th>Class Name</th>
                            <th>Batch</th>
                            <th>Sections</th>
                            <th>No. of Students</th>
                            <th class="actions">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            <tr>

                                <td class="text-center">@Model[i].GradeName</td>
                                <td class="text-center">@Model[i].ClassName</td>
                                <td class="text-center">@Model[i].BatchName</td>
                                <td class="text-center">@Model[i].Section</td>
                                <td class="text-center">@Model[i].CurrentStudentCount</td>
                                <td class="actions">
                                    <a class="btn btn-success" href=@("/Admin/ViewAllStudentsInClass/" + Model[i].ClassId)>View Students</a>
                                    <a class="btn btn-success" href=@("/Admin/ViewAllSubjectTeacherInClass/" + Model[i].ClassId)>Teachers/Subjects</a>
                                    <a class="btn btn-success" style="width:40px;" href=@("/Admin/EditClass/"+Model[i].ClassId)>Edit</a>
                                    <a id="deleteBtn" class="btn btn-success" style="width:40px;" href=@("/Admin/DeleteClass/"+Model[i].ClassId)>Delete</a>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


